@import "font.css";

#box {
  -fx-background-image: url("./startMenuBomberman.png");
  -fx-background-repat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-font-family: 'Bomberman';
  -fx-pref-width: 100%;
  -fx-pref-height: 100%;
}

#column {
  -fx-background-color: rgba(0, 0, 0, 0.7);
  -fx-max-width: 500.0;
  -fx-pref-height: 10000;
  -fx-alignment: center;
}


.button {
  -fx-font-family: 'Bomberman';
  -fx-font-size: 30px;
  -fx-text-fill: linear-gradient(to bottom, #ee3800 0%, #ffff31 50%, #ee3800 100%);
  -fx-background-color: transparent;
  -fx-border-width: 3px;
  -fx-border-color: transparent;
  -fx-border-radius: 10px;
  -fx-padding: 5px 20px 5px 20px;
  -fx-cursor: hand;
}

.button:hover,
.button:focused {
  -fx-border-color: #ffff31;
}


.label {
  -fx-font-size: 20px;
  -fx-text-fill: white;
}
