@import "../../font.css";
@import "../../global.css";

#box {
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-font-family: 'Bomberman';
}

#title {
    -fx-font-size: 60px;
    -fx-text-fill: linear-gradient(to bottom, #ee3800 0%, #ffff31 50%, #ee3800 100%);
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}
  
#text {
    -fx-font-size: 15px;
    -fx-text-alignment: left;
}