@import "../../font.css";
@import "../../global.css";

#content {
  -fx-background-color: rgb(0, 0, 0, 0.7);
  -fx-alignment: center;
  -fx-spacing: 30px;
}

#label_error {
  -fx-font-size: 30px;
  -fx-text-fill: white;
}
