#box {
  -fx-alignment: center;
  -fx-spacing: 20px;
}

#title {
  -fx-font-size: 40px;
  -fx-font-weight: bold;
  -fx-text-fill: linear-gradient(to right, #f44336, #ffeb3b);
}

.button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: #4caf50;
}
